<div class="panel panel-default">
  <div class="panel-heading">
      <h1 style="text-align: center">Students</h1><br>
      <div class="row" [hidden]="!deleteMessage">

                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                        <div class="alert alert-info alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Student Data Deleted</strong>
                        </div>
                </div>
                <div class="col-sm-4"></div>
        </div>
    </div>


  <div class="panel-body">
      <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"  >
          <thead class="thead-light">
              <tr>
                  <th>Students Email</th>
                  <th>Student FirstName</th>
                  <th>Student LastName</th>
                  <th>Action</th>

              </tr>
          </thead>
          <tbody>
               <tr *ngFor="let student of students ">
                  <td>{{student.accountId}}</td>
                  <td>{{student.firstName}}</td>
                  <td>{{student.lastName}}</td>
                  <td><button (click)="deleteStudent(student.id)" class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>&nbsp;
                    <button (click)="showStudent(student)" class='btn btn-info'
                    data-toggle="modal" data-target="#myModal">Update</button>
                  </td>
                </tr>
          </tbody><br>
      </table>
  </div>
</div>

<div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
                <form [formGroup]="studentupdateform" #updsel (ngSubmit)="updateStudent(updsel)">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title" style="text-align: center">Update student</h4>

            </div>

            <!-- Modal body -->
            <div [hidden]="isupdated">

                <input type="hidden" class="form-control"  formControlName="id" [(ngModel)]="updStudent.id">
                <div class="form-group">
                    <label for="name">Student Email</label>
                    <input type="text" class="form-control"  formControlName="accountId" [(ngModel)]="updStudent.accountId"  >
                </div>

                <div class="form-group">
                  <label for="name">Student First Name</label>
                  <input type="text" class="form-control"  formControlName="firstName" [(ngModel)]="updStudent.firstName"  >
                </div>

                <div class="form-group">
                  <label for="name">Student Last Name</label>
                  <input type="text" class="form-control"  formControlName="lastName" [(ngModel)]="updStudent.lastName"  >
                </div>

            </div>
              <div [hidden]="!isupdated">
                  <h4>Student Details Updated!</h4>
              </div>


            <!-- Modal footer -->
            <div class="modal-footer" >
              <button type="submit" class="btn btn-success" [hidden]="isupdated">Update</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>
            </div>

        </form>
          </div>
        </div>
      </div>
