    <div  class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a routerLink="view-students" class="nav-link" class="btn btn-primary active" role="button" >View Students</a>
          </li>&nbsp;
          <li class="nav-item">
            <a  routerLink="add-student" class="nav-link" class="btn btn-primary active" role="button" >Add Students</a>
          </li>      
        </ul>
      </nav>   
        <router-outlet></router-outlet>
    </div>
    